nav{
  color: var(--footer-light-color);
 z-index: 100;

  position: fixed;
  top: 0;
  
  width: 100%;
  z-index: 1000;
 
}
.btn{
  background-color: var(--footer-light-color);
  color:var(--bs-light);
}